altgraph==0.16.1
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
functools32==3.2.3.post2
html5lib==1.0.1
idna==2.7
jsonschema==2.6.0
macholib==1.11
mechanize==0.3.7
modulegraph==0.17
py2app==0.17
Pypubsub==4.0.0
requests==2.19.1
six==1.11.0
typing==3.6.6
urllib3==1.23
webencodings==0.5.1
wxPython==4.0.3
